<section class="aboutMeSection">

    <h3>About Me</h3>

    <div class="headShot"></div>

    <p>
        <strong>My name is Matthew Ryan Evans</strong>, and I am a freelance front-end developer.
        I am proficient in HTML, CSS, and Javascript. I am currently studying Software Development
        at Western Governors University. The thing that excites me most about technology is that
        we have advanced to a state that we (the thinkers, the dreamers) are no longer bound by
        hardware limitations, but solely limited by the depth of our own imagination and ingenuity.
        If you dream it I can build it, these are the words I live by.
    </p>

    <div class="skill-lockup">

        <div class="skill-unit">
            <div class="skill-label">Communication</div>
            <div class="skill-rating skill-10">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">Organization</div>
            <div class="skill-rating skill-9">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">Learning</div>
            <div class="skill-rating skill-11">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">Planning</div>
            <div class="skill-rating skill-8">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">UX Design</div>
            <div class="skill-rating skill-8">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>

        <div class="skill-unit">
            <div class="skill-label">Programing</div>
            <div class="skill-rating skill-8">
                <span></span><span></span><span></span><span></span><span></span>
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </div>

    </div>

</section>
