<section class="sectionProjects">
    <div class="projectContainer">

        <div class="thumbnailWrap">
            <h3 id='projects'>Projects</h3>
        <div class="projectThumbnails">

            <div class="thumbnail-1">
                <div class="thumbnail" id="cprnmore">
                    <strong><i>{{ site.data.settings.project-1Title}}</i></strong>
                    {{ site.data.settings.project-1Blurb }}
                </div>
            </div>

            <div class="thumbnail-2">
                <div class="thumbnail" id="onmax">
                    <strong><i>{{ site.data.settings.project-2Title}}</i></strong>
                    {{ site.data.settings.project-2Blurb }}
                </div>
            </div>

        </div>
        </div>

        <div class="projectWrap">

            <div class="cprnmoreWrap">
                <div class="projectBack">{% include icons/back.html %}</div>
                <h4>{{ site.data.settings.project-1Title}}</h4>
                {{ site.data.settings.project-1MainContent}}
            </div>

            <div class="onmaxWrap">
                <div class="projectBack">{% include icons/back.html %}</div>
                <h4>{{ site.data.settings.project-2Title}}</h4>
                {{ site.data.settings.project-2MainContent}}
            </div>

        </div>

    </div>
</section>
