<section>

    <h3 id='projects'>Projects</h3>

    <div class="projectContainer">

        <a href='' class="thumbnail-1">

            <div class="thumbnail">
                <strong>CPR-N-MORE.COM</strong>
            </div>

        </a>

        <a href='' class="thumbnail-2">

            <div class="thumbnail">
                <strong><u>OnMax</u></strong>
                <p>OnMax was developed to solve the issue enterpise was having in regards to the slow
                onboarding practices that dragged the process out of multipule days. I was taked with
                creating a solution...  click to find out more</p>
            </div>

        </a>

    </div>

</section>
