header
    height: 350px
    background: url(../img/codeBackground.png) center center
    background-size: cover

    nav
        float: right

        a
            margin: 30px 30px 0px 0px
            display: inline-block
            font:
                size: 14px
                weight: 700
            color: rgba(200,200,200,1)
            text-transform: uppercase
            text-shadow: 1px 1px rgba(26,44,55,1)

            &:hover
                color: white

    h1
        margin-top: 0px
        margin-bottom: 20px
        padding-top:  100px
        text-align: center
        font:
            size: 72px
            weight: 700
        color: white
        text-transform: uppercase
        text-shadow: 1px 1px rgba(26,44,55,1)
        letter-spacing: 0.02em

    span
        display: inline-block
        padding: 0.2em 0.5em
        border: white solid 10px

    .kicker
        text-align: center
        font:
            weight: 700
        color: white
        text-transform: uppercase
        text-shadow: 1px 1px rgba(26,44,55,1)
