.sectionProjects
    overflow-x: hidden

.projectContainer
    width: 200%
    position: relative
    left: 0%
    +transition(all 800ms)

.thumbnailWrap, .projectWrap
    width: 50%
    float: left

.projectThumbnails
    max-width: 960px
    margin: 0 auto
    +clearfix

    .thumbnail-1
        background:
            image: url(../img/projects/cprnmore/cprnmoreThumbnail.png)
            position: top center

    .thumbnail-2
        background:
            image: url(../img/projects/onmax/onmaxThumbnail.png)
            position: center center

    .thumbnail-1, .thumbnail-2
        display: block
        width: 50%
        float: left
        position: relative
        padding-top: 20%
        overflow: hidden
        cursor: pointer
        +perspective(300)

        background:
            repeat: no-repeat
            size: cover

        .thumbnail
            +position(absolute, -140% 0px null 0px)
            height: 100%
            background: $accentDark
            text-align: center
            +transition ( 425ms,  opacity 500ms)
            //+display(flex)
            +align-items(center)
            +justify-content(space-around)
            +transform (rotateX(90deg))
            +transform-origin(center bottom)
            opacity: 0

            strong
                display: inline-block
                padding: 15px 0px 5px
                color: $evenbgcolor
                font:
                    weight: 300
                    size: 24px
                text-transform: uppercase

            p
                display: inline-block
                padding: 0px 15px
                color: $evenbgcolor
                font:
                    weight: 300
                    size: 14px

        &:hover .thumbnail
            top: 0%
            +transform (rotateX(0deg))
            opacity: 1

.cprnmoreWrap, .onmaxWrap
    max-width: 960px
    margin: 0 auto
    display: none
    overflow: hidden


    img
        width: 60%
        display: block
        margin: 0 auto

    strong
        font-weight: 700

    p
        max-width: 700px
        margin: 20px auto
        padding: 0 15px
        position: relative

    a
        display: block
        font-size: 18px
        text-decoration: underline
        text-align: center
        color: $accentDark


[type="button"]
    background: $accentDark
    color: white
    font-size: 18px
    text-transform: uppercase
    width: 15%
    display: block
    margin: 0 auto

    &:hover
        background: $accent

.projectBack
    +size(40px)
    padding-top: 20px
    position: absolute
    cursor: pointer
    float: left

    path
        fill: $headlineColor

        &:hover
            fill: $accentDark

/** ----------------------------------- Media Queries -----------------------------------**/

@media screen and (max-width: 720px)
    .projectThumbnails
        .thumbnail-1, .thumbnail-2
            .thumbnail
                strong
                    font-size: 24px
                    text-align: center
                    margin: 10px auto
                p
                    display: none

    [type="button"]
        width: 33%

@media screen and (max-width: 1000px)
    .projectThumbnails
        .thumbnail-1, .thumbnail-2
            .thumbnail
                strong
                    padding: 12px 0px 10px
                    font-size: 20px
                p
                    padding: 0px 4px 6px
                    font-size: 11px
/** ---------------------------------------------------------------------------------------- **/
